body {
    margin: 0;
}

.navbar {
    background-color: black;
    border: 2px solid gold;
    height: 10vw;
}

.container {
    display: grid;
    color: blue;
    width: auto;
    margin: auto;
    grid-template-columns: 25vw 25vw;
    grid-template-rows: 15vw 15vw 15vw 15vw 15vw 15vw 15vw 15vw;
    grid-gap: 25px;
    grid-template-areas: 
    "1L 1R"
    "2L 2R"
    "3L 3R"
    "4L 4R";
    border: 2px solid yellow;
    justify-content: center;
    padding: 15px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    padding: 15px;
}

#one {
    grid-area: 1L;
}

#two {
    grid-area: 1R;
}

#three {
    grid-area: 2L;
}

#four {
    grid-area: 2R;
}

#five {
    grid-area: 3L;
}

#six {
    grid-area: 3R;
}

#seven {
    grid-area: 4L;
}

#eight {
    grid-area: 4L;
}